<%= simple_form_for @expense, :html => { :class => 'form-horizontal' } do |f| %>
<table>
  <tr>
    <td><%= f.input :expensedate, :as => :date_picker, label: "Date" %>
        <%= error_span(@expense[:expensedate]) %></td>
    <td><%= f.input :vendor %>
        <%= error_span(@expense[:vendor]) %></td>
    <td><%= f.input :expense %>
        <%= error_span(@expense[:expense]) %></td> 
  </tr>
</table>
<%= f.input :expensedesc, label: "Description", :width =>120 %>
  <%= error_span(@expense[:expensedesc]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                expenses_path, :class => 'btn btn-default' %>
<% end %>
